:root {
  --accent: #f50057;
  --light: #eeeeee;
  --subtitle: #777;
  --dark: #202020;

  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/public/fonts/InterVariable.woff2') format('woff2');
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/public/fonts/InterVariable-Italic.woff2?v=4.0') format('woff2');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
}

h2, h3, h4 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;

  & h4 {
    display: inline;
  }

  &::after {
    content: '↗';
  }
}

ul {
  margin: 0.25rem;
  padding-left: 1rem;
}

li {
  margin-bottom: 0.5rem;
}